# Visual Studio / .NET
**/bin/
**/obj/
**/.vs/
**/*.user
**/*.suo
**/*.userosscache
**/*.sln.docstates
**/TestResults/

# Angular / Node.js
**/node_modules/
**/.angular/
**/dist/
**/coverage/
**/tmp/
**/out-tsc/
**/bazel-out/
**/npm-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
**/.cache/
**/.sass-cache/
**/connect.lock
**/libpeerconnection.log
**/testem.log
**/__screenshots__/

# IDEs and editors
**/.idea/
**/.project/
**/.classpath/
**/.c9/
**/*.launch
**/.settings/
**/*.sublime-workspace
**/.history/

# Visual Studio Code
.vscode/

# System files
**/.DS_Store
**/Thumbs.db