# Angular / Node
**/node_modules/
**/dist/
**/.angular/cache/
**/coverage/
**/npm-debug.log
**/yarn-error.log

# .NET
**/bin/
**/obj/
**/.vs/
**/*.user
**/*.suo

# IDE and OS files
.vscode/
.idea/
Thumbs.db
.DS_Store